body{
	background:url('../pub/images/bg2.png') repeat;
}
.box_btn{
	background:#51b8e2;
	padding-left:4px;
	padding-right:4px;
	max-width:120px;
}
.box_btn .btns{
	padding:5px;
	text-align:center;
	background:#68dff0;
	display:block;
}
.box_btn .btns img{
	text-align:center;
	width:60px;
}

.box_btn:hover{
	cursor:pointer;
	opacity:0.8;
}

.judul{
	background:#51b8e2;
	padding-top : 8px;
	padding-bottom: 8px;
	box-shadow: 0 2px 2px #888888;
	color : white;
	font-weight : bold;
}
.toast-container{
	margin-left:auto !important;
	margin-right : auto !important;
}
.judul2{
	background:#51b8e2;
	padding-top : 8px;
	padding-bottom: 8px;
	box-shadow: 0 2px 2px #888888;
	color : white;
	font-weight : bold;
	float:left;
	width:100%;
	box-sizing:border-box;
}

#konten{
	padding-top : 10px;
	padding-bottom:20px;
}
.money{
	text-align : right;
	float:right !important;
	font-weight:bold;
	color:#555;
}
#konten .menu {
	padding : 10px;
	margin : 5px;
	border:1px dashed #f2f2f2;
	font-size : 18px;
	color : #f5f5f5;
	
}
/*
fieldset{
	padding :10px !important;
	background : #68dff0;
	border : 1px dashed #f2f2f2;
	margin : 10px;
	margin-top : 0;
	margin-bottom:20px;
}
legend{
padding-top:5px;

	margin-bottom :0px !important;
	font-size : 12px;
	background : #68dff0;
	border : 1px dashed #f2f2f2;
}
*/
.form-control{
	border : #51b8e2 1px solid !important;
}

.box_table{
 padding : 10px 10px 0 10px;
  background:#68dff0 none repeat scroll 0 0;
 margin-bottom:20px;
 padding-bottom:none;
 border-radius : 5px;
 -moz-border-radius : 5px;
 -webkit-border-radius : 5px;
}
.box_table .pagination{
	margin : 0 !important;	
}
/* TABEL */
table.tabel, table.tabel th, table.tabel td {
    box-sizing: content-box;
}
table.tabel {
    border-collapse: separate;
    border-spacing: 0;
    clear: both;
    margin: 0 auto;
    width: 100%;
	border-top:1px solid #b5bac9;
	
}

table.tabel thead th, table.tabel thead td {
   
	background-color: #e5eaef;
    border-color: white #b5bac9 #b5bac9 white;
    border-style: solid;
    border-width: 1px;
	margin-top:1px;
    padding: 2px 1px 2px 2px;
	margin-bottom:5px;
	text-align:center;
	
}
table.tabel tbody tr:nth-child(odd) td{
    background: #f9f9f9;
}
table.tabel tbody tr {
    background-color: #ffffff;
}
table.tabel tbody th, table.tabel tbody td {
    padding: 8px 10px;
}
table.tabel tfoot th, table.tabel tfoot td {
    padding: 8px 10px;
	border-bottom: 1px solid #51b8e2;
}
table.tabel tfoot tr:last-child td {
  
	border : none !important;
}

table.form-input thead th, table.form-input thead td {
    padding: 4px 2px;
}
table.cursor tbody tr:hover{
	cursor:pointer;
}

.bg_total{
	background:#f2f2f2;
}
.border_td{
	border-top: 1px solid #51b8e2;
}
table.form_input tr td{
	padding : 5px 5px;
}
#header_content{
	
}
#header_content .tombol{
	float:left;
	margin-left:10px;
	width:100px;
}

/* css notif */
#notif{
	position : absolute;
	right:10px;
	
	color : #f2f2f2;
	border-bottom-left-radius : 5px;
	border-bottom-right-radius : 5px;

}
#notif .msg, #notif .path{
	float:right;	
}
#notif .path{
	background-image: -moz-linear-gradient(top, #68dff0, #68dff5);
	background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #68dff0),color-stop(1, #68dff5));
	filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#68dff0', EndColorStr='#dbdbdb');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#68dff0', EndColorStr='#dbdbdb')";
	border: 1px solid #fff;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    color: #597390;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}
#notif .msg2{
	background: #68dff0 ;
	padding-left; 5px;
	padding : 10px;
	border-left: 1px solid #fff;
	border-bottom-right-radius : 5px;
	box-shadow:0 2px 1px #666;
}

.pagination {
 
    margin: 0 !important;
 
}



.badge {
	padding:1px 2px !important;
	font-size:8px !important;
}
.dropdown-menu{
	right:-10px !important;
	left:auto !important;
	margin-left:-25px;
}

.ds .detil{
	cursor : pointer;
	
}
.detil p {
	color : #ff0000;
}

/* css tombol crud*/
.actLink {
    background-color: #dbe0e5;
    border: 1px solid #c2c8cf;
    color: black;
    display: block;
    float: left;
    margin: 0 4px;
    padding: 18px 18px;
    text-decoration: none;
	background:url('/pub/images/add.ico');
	background-size: 32px 32px;
    background-repeat: no-repeat;
	background-position:left top;
	
}
img.edit{
	text-align:center;
	width:24px;
}
.tdEdit{
	width:20px;
}
.tdCheckbox{
	width:10px;
}
.tdNo{
	width:15px;
}
.tdLeft{
	text-align:left;
}
.tdRight{
	text-align:right;
}
.tdCenter{
	text-align:center;
}
#search{
	padding: 10px 10px 5px 15px;
}
#search table td{
	padding : 2px 5px;
}
/*from submit*/

.search{
	background-color: #e5eaef;
    border-color: white #b5bac9 #b5bac9 white;
    border-style: solid;
    border-width: 1px;
	margin-top:1px;
    padding: 2px 1px 2px 2px;
	margin-bottom:5px;
   
}
.search table tbody td{
	padding : 1px 2px;
	
}
.top{
	
	background:url('/pub/images/bg_header.png') repeat;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	margin-bottom:3px;
	
}
/* for tombol eksekusi*/
ul.act{
	margin:0 0 0 15px !important;
	padding : 0 !important;
}
ul.act li{
	background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
	background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #ffffff),color-stop(1, #dbdbdb));
	filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#dbdbdb');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#dbdbdb')";
	border: 1px solid #fff;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);

	padding: 5px 5px;
	text-decoration: none;
	text-shadow: #fff 0 1px 0;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	display: block;
	color: #597390;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold;	
}
ul.act li:hover{
	cursor:pointer;
}
ul.act li span{
	padding-left: 24px;
	
}
ul.act li span.add{
	background: url(/pub/images/add.ico) no-repeat 0 0px;
}
ul.act li span.update{
	background: url(/pub/images/update.png) no-repeat 0 0px;
	background-size:24px;
}
ul.act li span.approve{
	background: url(/pub/images/success.png) no-repeat 0 0px;
	background-size:24px;
}
ul.act li span.reject{
	background: url(/pub/images/error.png) no-repeat 0 0px;
	background-size:24px;
}
ul.act li span.delete{
	background: url(/pub/images/delete.ico) no-repeat 0 0px;
	background-size:24px;
}
ul.act li span.print{
	background: url(/pub/images/print.ico) no-repeat 0 0px;
	background-size:24px;
}
ul.act li span.save{
	background: url(/pub/images/save.ico) no-repeat 0 0px;
	background-size:24px;
}
.header_title{
	background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
	background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #ffffff),color-stop(1, #dbdbdb));
	filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#dbdbdb');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#dbdbdb')";
	border: 1px solid #fff;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	padding: 2px 5px;
	text-decoration: none;
	text-shadow: #fff 0 1px 0;
	margin-bottom: 1px;
	display: block;
	color: #597390;
	line-height: 24px;
	font-weight: bold;	
}
.tab{
	margin-left:20px;
}
.bold{
	font-weight:bold;
}
.tdRed{
	color: red;
}
span.edit{
	cursor:pointer;
}