.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.modal {
  display: none;
  background: #eee;
  padding: 0;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  width: 400px;
  display:block;
  height:40%;
  border-radius:10px;
  
  box-shadow: 0 2px 2px #888888;
}
.modal p {
  font-size: 14px;
  text-align: left;
  margin: 10px 0 0;
}
.modal p:hover {
  cursor: pointer;
}

.centerUp {
  margin: 0 auto;
  width: 960px;
}
.modal .title{
	padding : 5px 5px;
	text-align:center;
	background:#ffaa31;
	color:#f2f2f2;
	font-weight:bold;
	box-shadow: 0 2px 2px #888888;

}
.modal .content {
padding : 4px;
}
.modal .content  textarea{
	width:100%;
	
	min-height:170px !important;
}